.gr_page {
	width: 90%;
	margin: auto;
	background-color: #fdb813;
	border-radius: 5px;
}

.gr_inner_page {
	background-color: #FFF;
	padding: 25px;
	margin: 25px;
}

.gr_btn {
	color: #FFF;
	background-color: #fdb813;
	border: none;
	border-radius: 5px;
}

.gr_btn:hover {
	color: inherit;
	background-color: #ffcc00;
	border: none;
	border-radius: 5px;
}

